h1 {
   
}

body {
    background-color: #3A3B43;
}

p {
   
}
#nav {
    position: fixed;
    height: 105px;
    width: 950px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    align-content: center;
    display: flex;
    justify-content: center;
    background-color: #3A3B43;
}
.navbtn{
    background-color: rgba(86, 88, 100, 0.87);
    width: 181.8px;
    height: 40px;
    text-align: center;
    padding: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.37);
    border: none;
    border-radius: 7px;
    color: #bcbccb;
    font-family:"Segoe UI";
    src: local("assets/Segoe UI");
    font-size: 20px;
    padding-bottom: 2px;
    margin-right: 10px;
    margin-left: 10px;;;
}

.defaulttext {

    color: #bcbccb;
    border: none;
    color: #bcbccb;
    font-family:"Segoe UI";
    font-size: 20px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.87);
}

.flexbox-nav{
    width: 940px;
    display: flex;
    flex-direction: row;
    margin: auto;
    top: 50%;
    bottom: 50%;
    margin-top: 12px;
    background-color: #3A3B43;
    border-bottom-style: solid;
    border-bottom-width: 1px; 
    border-bottom-color: white;
}

.placement-nav{
    padding-right: 12px;
    padding-left: 12px; 
}

.main{
    width: 940px;
    margin: auto;
    margin-top: 104px;
}

.main-title{
    display: flex;
    flex-direction: row;
    margin-bottom: -25px
}

.ullist {
    padding-left: 0;
}

.listelement {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-width: 1px; 
    border-bottom-color: white;
    margin-top: 30px;;
    
}

.listbtn {
    background-color: rgba(86, 88, 100, 0.87);
    width: 181.8px;
    height: 32px;
    text-align: center;
    padding: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.37);
    border: none;
    border-radius: 7px;
    color: #bcbccb;
    font-family:"Segoe UI";
    font-size: 18px;
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: -10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    
}
.search{
    padding-top: 5px;
    margin-bottom: 15px;
}

.liststatus{
    margin-right: 575px;
}

.indicatorstatus{
    width: 24px;
    height: 24px;
    text-align: center;
    border: solid 1px #bcbccb;
    border-radius: 20px;
    padding-top: 3px;
    color: #bcbccb;
    line-height: 20px;
    font-size: 20px;
}
.title{
    margin-top: 10px; 
    width: 425px; 
    padding-right: 200px;
}

.indicator{
    margin-top: 10px;
    margin-right: 7px;
    width: 16px;
    height: 16px;
    background-color: #eeff00;
    background-color: #76f637;
    background-color: #f63737;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.87);
    border-style: solid;
    
    border-color: #eeff00;
    border-color: #76f637;
    border-color: #f63737;
    border-radius: 20px;
}

.edit-li{
    width: 89.9px;
}

.retrievepassword {
    width: 180px;
}

#login-main {
    position: relative;
    top: 109px;
    right: 0;
    left: 0;
    width: 400px;
    height: 300px;
    margin: auto;
    font-family:"Segoe UI";
}

#login-logo {
    width: 169px;
    height: 163px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login-title {
    width: 405px;
    height: 42px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #bcbccb;
    margin-top: 24px;
}

#loginbox{
    width: 360px;
    height: 300px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.37);
    background: #4f515d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 100px;
    border-radius: 10px;
}

#boxtitle {
    width: 103px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #bcbccb;
    padding-top: 19px;
    text-align: center;
}
#formsandtitles{
    margin-left: 26px;
    margin-right: 26px;
}

.formtitles {
    height: 25px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #bcbccb;
}

.loginforms{
    width: 307px;
    height: 26px;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #3a3b43;
    background-color: #454650;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #bcbccb;
    border-radius: 5px;
}

#forgotpass{
    width: 100px;
    height: 13px; 
    margin-top: 9px; 
    margin-bottom: 6px;
    font-size: 8px;
    line-height: 1.38;
    color: #7a7af2;
}

#loginsubmit {
    width: 307px;
    height: 26px;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16);
    background-color: #8a91d6;
    border-radius: 6px;
    border-color: #8a91d6;
    border-width: 1px;
    color: white;
    
}

#profileset-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    margin-top: 110px;
    font-family:"Segoe UI";    
}

#profileset-title {
    margin: auto;
    text-align: center; 
    padding-top: 53px;
    height: 51px;
    width: 377px;
    font-size: 36px;
    line-height: 1.33;
    color: #bcbccb;
}

#profile-flexcontainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 940px;
    height: 465px;
    
}

.profile-flexitem {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 425px;
    align-items: center;
    padding-top: 42px;
}

.profile-set-structure{
    margin-bottom: 60px;
}

.profile-item-titles {
    width: 230px;
    height: 23px;
    font-size: 20px;
    line-height: 1.35;
    color: #bcbccb;
    padding-bottom: 9px;
}

.profile-set-input {
    width: 244px;
    height: 26px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #3a3b43;
    border-radius: 3px;
    background-color: #454650;
    color: #bcbccb;
    font-size: 14px;
    line-height: 1.36;
    margin-bottom: 7.3px;
    padding-left: 2%;
    padding-right: 2%;
}

.titlecontain {
    display: flex;
    flex-direction: row;
}

#helpimg {
    width: 25px;
    height: 25px;
    padding-top: 3px
    
}

#premiummember {
    background-color: #76f637;
    height: 26px;
    width: 244px;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16);
    margin-top: 34px;
    border-radius: 3px;
    border: solid 1px #76f637;
    float: left;
    margin-bottom: 69px;
}

#profileset-submit{
    height: 26px;
    width: 307px;
    margin: auto;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16);
    background-color: #8a91d6;
    text-align: center;
    font-size: 14px;
    line-height: 1.36;
    color: #ffffff;
}

#profileset-submit > p {
padding-top: 2px;
}