@model SecureApp.Models.ProfileModel

@{
    ViewBag.Title = "Dashboard";
}

    <nav id="nav">
        <div class="flexbox-nav">
            <div class="placement-nav">
                <img style="position: relative; height: 90px;" src="/Content/assets/logo.svg">
            </div>
            <div style="margin-top: 20px" class="placement-nav">
                <input id="auth" class="navbtn" style="background-color: #f63737; color: #f1f1f1;" type="button" value="Authenticate">
            </div>
            <div style="margin-top: 20px" class="placement-nav">
                <input class="navbtn" type="button" value="Profile Settings">
            </div>
            <div style="margin-top: 20px" class="placement-nav" type="button">
                <input class="navbtn" type="button" value="Add Password" style="width: 167.8px;">
            </div>
            <div style="margin-top: 20px" class="placement-nav">
                <input class="navbtn" type="button" value="Log out" style="width: 104.4px;">
            </div>
        </div>
    </nav>


    <div id="Dashboard-main" class="main">
        <div>
            <div class="liststatus defaulttext">Search Sitename / App</div>
            <div class="main-title">

                <input id="search-li" type="text" placeholder="Search...">
                <img src="~/Content/assets/help.svg">
            </div>
        </div>
        <ul class="ullist">
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>
            <li class="listelement">
                <div class="title defaulttext">www.Facebook.dk</div>
                <div class="indicator"></div>
                <div class="edit-li listbtn">Edit<img src="~/Content/assets/Edit.svg"></div>
                <div class="retrievepassword listbtn">Retrieve Password</div>
            </li>


        </ul>
    </div>