h1 {
}

body {
    background-color: #3A3B43;
}

p {
}

a {
    text-decoration: none;
}

button, input, div {
    outline: none;
}

#nav {
    position: fixed;
    height: 105px;
    width: 950px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    align-content: center;
    display: flex;
    justify-content: center;
    background-color: #3A3B43;
}

.navbtn {
    background-color: rgba(86, 88, 100, 0.87);
    width: 181.8px;
    height: 40px;
    text-align: center;
    padding: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.37);
    border: none;
    border-radius: 7px;
    color: #bcbccb;
    font-family: "Segoe UI";
    src: local("assets/Segoe UI");
    font-size: 20px;
    padding-bottom: 2px;
    margin-right: 10px;
    margin-left: 10px;
}

    .navbtn:hover {
        background-color: rgb(70, 72, 83);
    }

#auth:hover {
    background-color: rgb(219, 10, 10);
}

.navbtn1 {
    background-color: #f63737;
    color: #f1f1f1;
}

.navbtn2 {
    width: 167.8px;
}

.navbtn3 {
    width: 104.4px;
}
.defaulttext {
    color: #bcbccb;
    border: none;
    color: #bcbccb;
    font-family: "Segoe UI";
    font-size: 20px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.87);
}

.flexbox-nav {
    width: 940px;
    display: flex;
    flex-direction: row;
    margin: auto;
    top: 50%;
    bottom: 50%;
    margin-top: 12px;
    background-color: #3A3B43;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

.placement-nav {
    padding-right: 12px;
    padding-left: 12px;
}

.placement-nav-btn {
    margin-top: 20px;
}

.placement-nav-logo {
    position: relative;
    height: 90px;
}

.main {
    width: 940px;
    margin: auto;
    margin-top: 104px;
}

#AddPasswordDiv {
    position: relative;
}

.AddPasswordBox {
    position: fixed;
    background: #4f515d;
    border: 4px solid #4f515d;
    border-radius: 7px;
    width: 408px;
    height: 375px;
    top: 250px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #3a3b43;
}

    .AddPasswordBox input {
        color: #bcbccb;
    }

.DeletePasswordBox {
    position: fixed;
    background: #4f515d;
    border: 4px solid #4f515d;
    border-radius: 7px;
    width: 408px;
    height: 225px;
    top: 250px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #3a3b43;
}

.Deletepasswordcontent {
    padding: 0px 10px 0px 10px;
    text-align: center;
    font-family: "Segoe UI";
    color: #bcbccb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50% 0 50%;
}

    .Deletepasswordcontent h1 {
        padding-top: 7px;
        width: 358px;
        height: 45px;
        font-size: 18px;
        line-height: 1.33;
        font-weight: normal;
    }

.Deletepasswordcontent p {
    width: 358px;
    height: 20px;
    font-size: 14px;
    line-height: 1.36;
    font-weight: normal;
    text-align: left;
    margin: 0px;
}

.Deletepasswordcontent div{
    display:flex;
    flex-direction: row;
    margin: 40px 0 0 0;
}

.Deletepasswordcontent button {
    width: 150px;
    height: 30px;
    font-size: 14px;
    line-height: 1.33;
    font-weight: normal;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #7b83d1;
    color: #ffffff;
    background-color: #8a91d6;
    margin-top: 10px;
    border-radius: 5px;
    margin: 0 5px 0 5px;
}

    .Deletepasswordcontent button:hover {
        background-color: #7b83d1;
        border-color: #7b83d1;
    }

.error {
    color: red;
}
.PaswordBoxOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.Addpasswordcontent {
    padding: 0px 10px 0px 10px;
    text-align: center;
    font-family: "Segoe UI";
    color: #bcbccb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50% 0 50%;
}

.Addpasswordcontent h1 {
    padding-top: 7px;
    width: 358px;
    height: 45px;
    font-size: 18px;
    line-height: 1.33;
    font-weight: normal;
}
.Addpasswordcontent p {
    width: 358px;
    height: 20px;
    font-size: 14px;
    line-height: 1.36;
    font-weight: normal;
    text-align: left;
    margin: 0px;
}
.Addpasswordcontent input {
    width: 358px;
    height: 25px;
    font-size: 14px;
    line-height: 1.33;
    font-weight: normal;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #3a3b43;
    background-color: #454650;
    margin-bottom: 10px;
}
    .Addpasswordcontent button {
        width: 307px;
        height: 30px;
        font-size: 14px;
        line-height: 1.33;
        font-weight: normal;
        box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16);
        border: solid 1px #7b83d1;
        color: #ffffff;
        background-color: #8a91d6;
        margin-top: 10px;
        border-radius: 5px;
    }

    .Addpasswordcontent button:hover {
        background-color: #7b83d1;
        border-color: #7b83d1;
    }


.main-title {
    display: flex;
    flex-direction: row;
    margin-bottom: -25px;
}

#search-li {
    width: 244px;
    height: 26px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #3a3b43;
    background-color: #454650;
    color: #bcbccb;
    margin-right: 305px;
    padding-left: 5px;
    margin-left: 7px;
}

#helpbox {
    font-family: "Segoe UI";
    color: #bcbccb;
    display: none;
    position: absolute;
    width: 300px;
    height: 150px;
    background: #4f515d;
    margin-right: auto;
    margin-left: auto;
    top:215px;
    right: 55%;
    left: 45%;
    border: 3px solid #2f3037;
    border-radius: 5px;
}
    #helpbox h1 {
        font-weight: normal;
        font-size: 20px;
        margin: 5px 10px 10px 10px;
    }
    #helpbox p{
        margin: 5px 10px 5px 10px;
    }

#ullist {
    padding-left: 0;
}

.listelement {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    margin-top: 30px;
    padding-left: 10px;
}

.listbtn {
    background-color: rgba(86, 88, 100, 0.87);
    width: 181.8px;
    height: 40px;
    text-align: center;
    
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.37);
    border: none;
    border-radius: 7px;
    color: #bcbccb;
    font-family: "Segoe UI";
    font-size: 18px;
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 7px;
    
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

    .listbtn:hover {
        background-color: rgb(70, 72, 83);
    }

.search {
    padding-top: 5px;
    margin-bottom: 15px;
}

.liststatus {
    padding-top: 34px;
    padding-bottom: 14px;
    margin-left: 7px;
}

.indicatorstatus {
    width: 24px;
    height: 24px;
    text-align: center;
    border: solid 1px #bcbccb;
    border-radius: 20px;
    padding-top: 3px;
    color: #bcbccb;
    line-height: 20px;
    font-size: 20px;
}

.title {
    margin-top: 10px;
    width: 425px;
    padding-right: 140px;
}

.indicator {
    margin-top: 10px;
    margin-right: 7px;
    width: 16px;
    height: 16px;
    background-color: #eeff00;
    background-color: #76f637;
    background-color: #f63737;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.87);
    border-style: solid;
    border-color: #eeff00;
    border-color: #76f637;
    border-color: #f63737;
    border-radius: 20px;
}

.edit-li {
    width: 89.9px;
}

.deletepass {
    width: 30px;
    height: 30px;
    margin: 5px 0 0 5px;
}

    .deletepass:hover {
        filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4) brightness(1);
    }

.retrievepassword {
    width: 180px;
    padding-bottom: 10px;
}

#login-main {
    position: relative;
    top: 109px;
    right: 0;
    left: 0;
    width: 400px;
    height: 300px;
    margin: auto;
    font-family: "Segoe UI";
}

#login-logo {
    width: 169px;
    height: 163px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login-title {
    width: 405px;
    height: 42px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #bcbccb;
    margin-top: 24px;
}

.loginbox {
    width: 360px;
    height: 300px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.37);
    background: #4f515d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.forgotpassbox {
    height: 200px;
    width: 360px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.37);
    background: #4f515d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 100px;
    border-radius: 10px;
}

#createacc {
    height: 365px;
    width: 360px;
    
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.37);
    background: #4f515d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 100px;
    border-radius: 10px;
}

#boxtitle {
    width: 175px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #bcbccb;
    padding-top: 9px;
    text-align: center;
}

#formsandtitles {
      margin-left: 26px;
      margin-right: 26px;
  }

    #formsandtitles h1 {
        margin: 5px 0 5px 0;
        height: 16px;
    }

    #formsandtitles input[type="text"], input[type="password"] {
        margin: 7px 0 5px 0;
    }

#formsandtitles p{
    display: block;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 12px;
    height:13px;
}

.formtitles {
    height: 25px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #bcbccb;
}

.formtitles1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: red;
}

.formtitles2 {
    margin-top: 24px;
}

.loginforms {
    width: 307px;
    height: 26px;
    
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #3a3b43;
    background-color: #454650;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #bcbccb;
    border-radius: 5px;
}

#forgotpass {
    width: 100px;
    height: 13px;
    margin-top: 9px;
    margin-bottom: 6px;
    font-size: 8px;
    line-height: 1.38;
    color: #7a7af2;
}

#login-options {
    display: flex;
    flex-direction: row;
    width: 307px;
    height: 26px;
    justify-content: space-between;
}


#createaccount {
    width: 100px;
    height: 13px;
    margin-top: 9px;
    margin-bottom: 6px;
    font-size: 8px;
    line-height: 1.38;
    color: #7a7af2;
    text-align: right;
    text-decoration: none;
}

.loginsubmit {
    width: 140px;
    height: 26px;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16);
    background-color: #8a91d6;
    border-radius: 6px;
    border-color: #8a91d6;
    border-width: 1px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
}

    .loginsubmit:hover {
        background-color: #7b83d1;
        border-color: #7b83d1;
    }

.Createsubmit {
    margin-top: 25px;
}
#profileset-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    margin-top: 110px;
    font-family: "Segoe UI";
    margin-bottom: 100px;
}

#profileset-title {
    margin: auto;
    text-align: center;
    padding-top: 53px;
    height: 51px;
    width: 377px;
    font-size: 36px;
    line-height: 1.33;
    color: #bcbccb;
}

#profile-flexcontainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 940px;
    height: 650px;
}

.profile-flexitem {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 550px;
    align-items: center;
    padding-top: 42px;
}

.profile-flexitem p {
    font-size: 12px;
}

.profile-set-structure {
    margin-bottom: 60px;
}

.profile-item-titles-flex {
    font-weight: normal;
}
.profile-item-titles-flex p {
    font-size:12px;
    margin:2px;
    height:15px;
}

.profile-item-titles {
    width: 115px;
    height: 30px;
    font-size: 20px;
    line-height: 1.35;
    color: #bcbccb;
    font-weight: normal;
    margin: 0;
}

.profile-set-input {
    width: 244px;
    height: 26px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #3a3b43;
    border-radius: 3px;
    background-color: #454650;
    color: #bcbccb;
    font-size: 14px;
    line-height: 1.36;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom:10px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.titlecontain {
    display: flex;
    flex-direction: row;
}

#helpimg {
    width: 25px;
    height: 25px;
    padding-top: 3px
}

#premiummember {
    background-color: #76f637;
    height: 26px;
    width: 244px;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16);
    margin-top: 34px;
    border-radius: 3px;
    border: solid 1px #76f637;
    float: left;
    margin-bottom: 69px;
}

#profileset-submit {
    height: 28px;
    width: 307px;
    display: block;
    margin: auto;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16);
    background-color: #8a91d6;
    border: 2px solid #8a91d6;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.36;
    color: #ffffff;
}

    #profileset-submit:hover {
        background-color: #7b83d1;
        border-color: #7b83d1;
    }




#f-nav {
    height: 123px;
    width: 100%;
    text-align: center;
}

    #f-nav ul {
        list-style: none;
        width: 1000px;
        height: 123px;
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #f-nav li {
        text-decoration: none;
        padding: 19px 0 19px 0;
        width: 166px;
        height: 36px;
        font-family: "Segoe UI";
        font-size: 26px;
        line-height: 1.35;
        color: #bcbccb;
        margin: 0 10px 0 10px
    }

    #f-nav a {
        text-decoration: none;
        color: inherit;
    }

    #f-nav img {
        height: 90px;
        width: 90px;
    }

#banner {
    height: 417px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

    #banner img {
        display: block;
        height: 200%;
        width: 100%
    }

#txtoverlay {
    position: absolute;
    top: 200px;
    left: 11%;
    width: 507px;
    height: 214px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.37);
    font-family: "Segoe UI";
}

    #txtoverlay h1 {
        width: 485px;
        height: 57px;
        font-size: 42px;
        font-weight: bold;
        line-height: 1.33;
        color: #bcbccb;
        margin: 10px;
        text-shadow: 0 2px 6px #000000;
    }

    #txtoverlay p {
        width: 458px;
        height: 135px;
        font-size: 20px;
        line-height: 1.35;
        color: #bcbccb;
        text-shadow: 0 2px 6px #000000;
    }

#info {
    font-family: "Segoe UI";
}

    #info ul {
        margin: 2% auto 2% auto;
        list-style: none;
        width: 95%;
        height: 400px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #info li {
        width: 325px;
        height: 387px;
        margin: 0 1% 0 1%;
        display: block;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5)
    }

    #info h1 {
        width: 183px;
        height: 36px;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.35;
        color: #bcbccb;
        margin: 10px 0 0 0;
        padding: 0 0 0 7px;
    }

    #info p {
        width: 315px;
        height: 324px;
        text-shadow: 0 2px 6px #000000;
        font-size: 20px;
        line-height: 1.35;
        color: #bcbccb;
        padding: 0 7px 0 7px;
        margin: 5px 0 7px 0;
    }

    #info div {
        color: #f1f1f1;
        margin-top: -40px;
        margin-left: 150px;
        width: 140.7px;
        height: 26px;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16);
        background-color: #8a91d6;
        text-align: center;
        border: 1px solid;
        border-radius: 5px;
    }
